@{
	ViewData["Title"] = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}




	<div class="untree_co-section product-section before-footer-section  mt-0 pt-3" style="margin-top:0 !important; padding-top:20px !important;">
		<div class="container">

			@await Component.InvokeAsync("BookList")

		</div>
	</div>


	






